{% extends "poll/base.html" %}

{% block title %}System Polls{% endblock %}

{% block main %}
    <div style="display: flex; flex-direction: row; flex-wrap: wrap">
        {% for poll in polls %}
            {#  Single Card Template:#}
            <div class="card" style="width: 18rem; margin: 10px">
                <img src="https://i.auto-bild.de/mdb/extra_large/62/aklasse-bb5.png" class="card-img-top" >
                <div class="card-body">
                    <div style="display: flex; flex-direction: row">
                    <h5 class="card-title">{{ poll.question }}</h5>
                    </div>
                    <div class="panel-footer">
                        Total &mdash; <strong>{{ poll.total }}</strong>
                    </div>
                    <a href="{% url 'vote' poll.id %}" class="btn btn-primary">Answer</a>
                    <a href="{% url 'results' poll.id %}" class="btn btn-info">View Results</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}