{% extends "poll/base.html" %}

{% block title %}Answer{% endblock %}

{% block main %}

<div class="card  position-absolute top-50 start-50 translate-middle" style="width: 20rem;">
    <div class="card-header card-title">
        {{ poll.question }}
    </div>

    <div class="card-body">
        <form method="POST"> 
            {% csrf_token %}
            <div class="form-group">
                <div class="radio">
                    <label>
                        <input type="radio" name="poll" value="option1">
                        {{ poll.option_one }}
                    </label> &nbsp;
                    <label>
                        <input type="radio" name="poll" value="option2">
                        {{ poll.option_two }}
                    </label> &nbsp;
                
                    <label>
                        <input type="radio" name="poll" value="option3">
                        {{ poll.option_three }}
                    </label> &nbsp;
                    <label>
                        <input type="radio" name="poll" value="option4">
                        {{ poll.option_four }}
                    </label> &nbsp;
                </div>
            </div>
            <hr/>
            <a href="{% url 'home'  %}" class="btn btn-secondary btn-sm">Volver</a> &nbsp;
            <button type="submit" class="btn btn-primary btn-sm">Save</button>
        </form>
    </div>
</div>
{% endblock %}